body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/*background-image: url('background.png');*/ 
	background-color: #000;           
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

	.container {
		width: 950px;
		margin: 0 auto;
		padding: 20px;
		background-color: transparent;
		border: 2px solid #555;
		box-shadow: 0px 0px 10px #000;
	}

	.header {
		background-color: #222;
		padding: 15px;
		font-size: 24px;
		text-align: center;
		color: #fff;
		border-bottom: 5px;
	}
	.navigation {
		background-color: #222;
		color: #fff;
		padding: 7px;
		border-bottom: 5px;
		text-align: center;
	}

	table {
		width: 100%;
		margin-top: 15px;
	}

	/*Desktops*/
	@media only screen and (min-width: 992px) {
	td {
		padding: 10px;
		vertical-align: top;
		border: 1px;
	}
	}
	
	/*Tablets*/
	@media only screen and (min-width: 768px) and (max-width: 991px) {
	td {
		padding: 8px;
		vertical-align: top;
		border: 1px;
	}
	}

	/*Mobile*/
	@media only screen and (min-width: 767px) {
	td {
		padding: 6px;
		vertical-align: top;
		border: 1px;
	}
	}

	.section-header {
		background-color: #1e1f22;
		font-size: 18px;
		padding: 5px;
		text-align: left;
		color: #fff;
		margin-bottom: 5px;
		margin-top: 5px;
}

	.main {
		background-color: #000;
		color: #fff;
		padding: 7px;
	}

	a {
		color: #5865f2;
		text-decoration: none;
	}
        
	a.black {
		color: #000;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}